.box
{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.aaaa
{   
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: rgb(0, 255, 38) 1px 1px 1px 1px;
    border-radius: 1rem;
    margin: 20px 0;
}
.aaaa:hover
{
    transition: 0.5s;
    transform: translateY(10px);
    transform: translateX(-15px);

}
.hero-img
{
    max-height: 400px;
    width: 100%;
}
.news-box
{
    height: 630px;
    overflow-y: auto;
}
.article-card
{
    width: 100%;
    height: auto;
    min-width: none;
    max-width: fit-content;
}
.blur-text
{
    filter: blur(5px);
}
.card-img-overlay
{
    overflow: hidden;
}
.card-bg-img
{
    height: 200px;
}
